{
	auto_https disable_certs
	local_certs
	skip_install_trust

	frankenphp {
		worker {
			file ./public/index.php
			env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
			{$FRANKENPHP_WORKER_CONFIG}
		}
	}
}

:80 {
	root /var/www/symfony/public
	encode zstd br gzip

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	file_server

	@phpRoute {
		not file {path}
	}
	rewrite @phpRoute index.php

	@frontController path index.php
	php @frontController

}
