{
	auto_https disable_certs
	local_certs
	skip_install_trust

	frankenphp {
		worker {
			file ./public/index.php
			env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
			{$FRANKENPHP_WORKER_CONFIG}
		}
	}
}

:80 {
	root /var/www/symfony/public
	encode zstd br gzip

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

    # If the requested PHP script exists, simply execute it.
	@phpFile {
		path_regexp ^/(.*\.php)$
		file {path}
	}
	php @phpFile

    # If the requested filename exists, simply serve it.
    # We only want to let Caddy serve files and not directories.
    # Rewrite all other queries to the front controller.
	file_server

	@phpRoute {
		not file {path}
	}
	rewrite @phpRoute index.php

    # Use the front controller as index file. It serves as a fallback solution when every other rewrite/redirect fails
    # "/index" should not resolve to the front controller "/index.php" but be rewritten to "/index.php/index".
	@frontController path index.php
	php @frontController

}
